<div class="pizza-summary">

  <h2>Order Summary</h2>
  <div
    class="pizza-summary__pizza"
    *ngFor="let pizza of pizzas.value">

    <div *ngIf="pizza.size">
      <h3>
        {{ pizza.size | titlecase }} Pizza
        <span class="pizza-summary__price">
          {{ prices[pizza.size].base | currency:'USD' }}
        </span>
      </h3>

      <div name="pizza-summary-toppings" class="pizza-summary__toppings">
        <div
          class="pizza-summary__topping"
          *ngFor="let topping of pizza.toppings">
          <i class="fa fa-plus"></i>
          {{ topping | titlecase }}
          <span class="pizza-summary__price">
            {{ prices[pizza.size].toppings | currency:'USD' }}
          </span>
        </div>
      </div>
    </div>
  </div>
  <div name="pizza-summary-total-price"
    class="pizza-summary__total-price">
    Total: {{ total | currency:'USD' }}
  </div>

  <button
    name="submit-pizza-order"
    (click)="submit($event)"
    class="pizza-summary__button"
    [disabled]="form.invalid">
    Place order
  </button>

</div>
